body{
    background: #F1ECE7;
}

header {
    background: #fff;
}

.header__inner {
    display: table;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    display: table-cell;
    color: #A39488;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.nav{
    display: table-cell;
    text-align: right;
}

a{
    text-decoration: none;
    color: #F1ECE7;
}


.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--item {
    color:#82756A;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    color: #D1C9C2;
    padding: 10px;
    width: 600px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #F4F4F4;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #E8E7E5;
    cursor: pointer;
}